* {
  /* margin: 0; */
  padding: 0;
  font-family: sans-serif;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../IMG/case/Fundos/horrorforest.gif);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.winner-text{
  font-family: 'Bagel Fat One', cursive;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 120px; 
  font-weight: bold;
  /* color: #ff0050; */
  text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black;
}
.winner-text.WinnerVerde {
  color: rgba(229, 238, 229, 0.89);
}

.winner-text.WinnerAzul {
  color: blue;
}

.winner-text.WinnerRoxa {
  color: rgb(163, 21, 163);
}

.winner-text.WinnerVermelha {
  color: red;
}

.winner-text.WinnerDourada {
  color: rgb(255, 217, 0)
}
.app {
  position: relative;
  width: 1250px;
  background: #000000;
  border-radius: 0px;
  box-shadow: 0 0 20px #ff0050;
}
.app .scope .list__item.active img {
  transform: scale(1.05);
}

.app .scope .list__item.active.WinnerVerde img {
  box-shadow: 0 0 30px rgba(229, 238, 229, 0.90); /* Aumentei a opacidade em 10% */
}

.app .scope .list__item.active.WinnerAzul img {
  box-shadow: 0 0 30px rgba(0, 0, 255, 0.90); /* Aumentei a opacidade em 10% */
}

.app .scope .list__item.active.WinnerRoxa img {
  box-shadow: 0 0 30px rgba(163, 21, 163, 0.90); /* Aumentei a opacidade em 10% */
}

.app .scope .list__item.active.WinnerVermelha img {
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.90); /* Aumentei a opacidade em 10% */
}

.app .scope .list__item.active.WinnerDourada img {
  box-shadow: 0 0 30px rgb(255, 217, 0); /* Aumentei a opacidade em 10% */
}
/*.app::before { 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));  
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  z-index: 1;
  pointer-events: none;
} */

.app .pointer {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate3d(-50%, -30px, 0);
  height: 70px;
  filter: drop-shadow(0 0 20px rgba(8, 8, 8, 0.3));
}
.app .scope {
  overflow: hidden;
}
.app .scope .list {
  position: relative;
  display: inline-flex;
  left: 0;
  transform: translate3d(0, 0, 0);
  list-style: none;
  transition: 6.3s cubic-bezier(0.21, 0.53, 0.29, 0.99);

}
.app .scope .list__item {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px; /* Reduzi a largura para dar espaço para as bordas */
  height: 245px; /* Reduzi a altura para dar espaço para as bordas */
  opacity: 0.5;
  transition: 2.5s ease;
  position: relative; /* Adicione posicionamento relativo ao item */
  margin: 0 15px; /* Adicione margem para criar espaçamento */
  border: 1px solid white; /* Adicione uma borda branca */
  box-sizing: border-box; /* Certifique-se de que a borda esteja dentro das dimensões do item */
}
.app .scope .list__item::after {
  content: ''; /* Adiciona conteúdo vazio ao pseudoelemento */
  position: absolute; /* Adiciona posicionamento absoluto ao pseudoelemento */
  top: 0; /* Posiciona o pseudoelemento no topo do item */
  right: 0; /* Posiciona o pseudoelemento à direita do item */
  width: 1px; /* Define a largura da linha vertical */
  height: 100%; /* Define a altura da linha vertical */
  background-color: white; /* Define a cor da linha vertical */
  z-index: -1;
}
.app .scope .list__item:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}
.app .scope .list__item.active {
  opacity: 1;
}
.app .scope .list__item.active img {
  transform: scale(1.30);  
  /* box-shadow: 0 0 20px rgb(255, 0, 0); */
}
.app .scope .list__item img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s ease;
}
.app .start {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, 20px, 0);
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #eb5146;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease;
  box-shadow: 0 0 30px 0 rgba(255, 118, 118, 0.2);
  cursor: pointer;
}
.app .start:hover {
  opacity: 0.8;
  transition: 0s;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px rgb(255, 0, 0);
}/*# sourceMappingURL=style.css.map */